{% extends "__layout.html" %} {% block content %}
<div class="container">
  <div class="imgcultur">
    <img src="/static/literallyme.jpg" class="image1 culecon" alt="Literallyme" />
    <div class="textcultur">Определенно реальное фото создателя сайта</div>
  </div>
  <div class="introductionHeader">Обо мне</div>
  <div class="introductionText">
    Я, Андреев Петр Александрович, родился 13 июля 2004 года, в городе Улан-Удэ, Россия. <br />
    В 2011 году поступила в 1-й класс 49-й общеобразовательной школы в Улан-Удэ. Занимался
    театральными постановками в школе и внеклассными мероприятиями. Участвовал в олимпиадах по
    обществознанию и информатике. <br />
    В 2022 году окончил 11 классов и поступил в ИРНИТУ на специальность Информационные системы и
    технологии. <br />
    В сентябре 2022 переехал в город Иркутск. <br />
    В настоящее время проживаю по адресу улица Пушкина, дом 143а. <br>
    Увлекаюсь программированием, иностранными языками.<br />
  </div>
  <div class="line"></div>
  <div class="sectextHeader">Навыки</div>
  <div class="sectext">
    <li>Внимание к различным нюансам и деталям</li>
    <li>Навыки управления проектами</li>
    <li>Умение проявлять гибкость</li>
    <li>Умение организовывать работу</li>
    <li>Аналитическое мышление</li>
    <li>Умение придумывать навыки</li>
  </div>
  {% endblock %}
</div>
