{% extends "__layout.html" %} {% block content %}
<div class="container">
  <div class="imgcultur">
    <img src="/static/culture.jpg" class="image1 culecon" alt="culture" />
    <div class="textcultur">Бурятский народный танец-Ёхор</div>
  </div>
  <div class="introductionHeader">Культура</div>
  <div class="introductionText">
    Культура Бурятии представляет собой соединение культур народов Азии и Европы, формирование
    которой шло параллельно с развитием устоев общественной жизни в Забайкалье. Свой вклад в эту
    культуру внесли многие племена и народы, на протяжении тысячелетий сменявшие друг друга на этой
    территории. Одним из интереснейших пластов культуры Бурятии является культура его коренного
    народа – бурят. Огромный пласт культуры принадлежит буддизму и буддийской традиции, принесенной
    в Бурятию из Тибета и Монголии. К этому пласту относится буддийское учение, включающее
    философию, тибетскую медицину, астрологию, буддийскую живопись. На этой основе в Бурятии
    развивались письменность и книгопечатание. Большой вклад в развитие связей Бурятии с Тибетом
    внес русский художник Николай Рерих. Культура русских в Бурятии сохранила свои традиционные
    черты благодаря, прежде всего, одной из наиболее ярких групп представителей русского населения –
    семейским (старообрядцам). Самобытностью отличается искусство Забайкальских казаков.
    <br />Наиболее интересные образцы материальной культуры хранятся в фондах и выставочных залах
    музеев, образцы классического и современного искусства представлены в деятельности театров,
    дворцов и клубов, в деятельности Бурятской государственной филармонии. Культура Бурятии
    находится в непрерывном развитии, она обогащается новыми достижениями, в ней появляются новые
    направления и виды, но при этом она сохраняет наследие прошлых эпох. Мифы и легенды Бурятии.
    <br />
    Больше о культуре Бурятии можно узнать
    <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="link"> тут </a>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Внимание!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Данная ссылка ведет на внешний сайт</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary">
          <a href="http://www.visitburyatia.ru/story/item-2748/" class="amodule">
            Я все равно хочу продолжить</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
