{% extends "__layout.html" %} {% block content %}
<div class="container">
  <div class="imgcultur"><img src="/static/economy.jpg" class="image1 culecon" alt="economy" />
    <div class="textcultur">Железнодорожный транспорт. Слудянка</div>
    </div>
  <div class="introductionHeader">Экономика</div>
  <div class="introductionText">
    Республика Бурятия относится к числу регионов России с индустриально-аграрным типом экономики.
    Экономическое развитие: Общий валовой региональный продукт (ВРП) Республики Бурятия в 2012 г.
    составил 167 млрд руб. По этому показателю Бурятия занимает 60-е место в России, между Ненецким
    АО и Новгородской областью. По душевому показателю валового регионального продукта (ВРП)
    Республика Бурятия занимает 47-е место в рейтинге субъектов Российской Федерации, между респ.
    Мордовия и Орловской областью. В 2011 г. валовой доход на душу населения составил 159,2 тыс.
    руб.(10684$ по индексу покупательной способности, что примерно соответствует показателям Сербии,
    Ирана и ЮАР[1]). В структуре ВРП максимальную долю имеют отрасли, производящие услуги (46 %): из
    них более половины (54,5 %) обеспечивает транспорт, 28 % — торговля и общественное питание, 3 %
    — связь. На долю отраслей, производящих товары, приходится 33,1 % ВРП, из которых около 60 %
    обеспечивает промышленность, примерно 27 % — сельское и лесное хозяйство, 15 % строительство.
    Прочие отрасли составляют 20,9 % в структуре ВРП региона. <br />
    Согласно оценке правительства Бурятии социально-экономического развития республики на плановый
    период до 2015 года, к 2015 году валовой региональный продукт (ВРП) увеличится по сравнению с
    2011 годом на 16,2 — 20,6 процентов. По более оптимистичному сценарию ВРП может достичь 236,3
    миллиардов рублей, что составит 120,6 процентов к уровню 2011 года в сопоставимых ценах. В
    производстве и распределение электроэнергии, газа и воды темп роста прогнозируется на уровне
    121,9 — 128,7 процентов. Темп роста инвестиций в основной капитал в 2015 году к уровню 2011 года
    прогнозируется на уровне 120,9 — 136,9 процентов. Среднедушевые денежные доходы увеличатся к
    уровню 2011 года в 1,2 — 1,3 раза и составят порядка 18,6 — 19,9 тысяч рублей. Ежегодный рост
    реальных располагаемых денежных доходов до 2015г составит 1,7 — 4,2 процента. <br>
    Больше об экономике Бурятии можно узнать
    <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="link">
      тут
    </a>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Внимание!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Данная ссылка ведет на внешний сайт
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary"><a href="https://invest-buryatia.ru/o-regione/promyshlennost-regiona/" 
          class="amodule">
          Я все равно хочу продолжить</a></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
