{% extends "__layout.html" %} {% block content %}
<div class = "container">
    <div class="imgcultur gloss">
        <img src="/static/ivolg.jpg" class="image1 culecon" alt="datsan" />
        <div class="textcultur">Иволгинский дацан</div>
      </div>
<div class="introductionHeader glossary">Глоссарий</div>
<div class="introductionText">
    <dl>
        <dt>Байкал</dt>
        <dd>Озеро тектонического происхождения в южной части Восточной Сибири, самое глубокое озеро на планете. </dd>
    </dl>
    <dl>
        <dt>Буряад Алас</dt>
        <dd>"Республика Бурятия" на бурятском языке</dd>
    </dl>
    <dl>
        <dt>Ёхор</dt>
        <dd>Народный танец-хоровод у бурят.</dd>
    </dl>
    <dl>
        <dt>Забайкалье</dt>
        <dd>Субъект Российской Федерации в восточной части Забайкалья, в составе Дальневосточного федерального округа.</dd>
    </dl>
    <dl>
        <dt>Старообрядчество</dt>
        <dd>Совокупность религиозных течений и организаций в русле русской православной традиции, отвергающих 
            предпринятую в 1651-1660-х годах московским патриархом Никоном и царём Алексеем Михайловичем церковную реформу, ц\
            елью которой провозглашалась унификация богослужебного чина Русской церкви с Греческой церковью и 
            прежде всего с Константинопольской церковью</dd>
    </dl>
    <dl>
        <dt>Народный хурал</dt>
        <dd>Законодательный (представительный) 
            орган государственной власти является постоянно действующим высшим и единственным органом законодательной власти республики.</dd>
    </dl>
</div>
</div>
</table>
{% endblock %}
