{% extends "__layout.html" %} {% block content %}
<div class="container">
    <div  class="imgcultur"><img src="/static/image2.jpg" class="image1 culecon" alt="image2" />
        <div class="textcultur">Байкальский хребет</div></div>
<div class="introductionHeader">История</div>
<div class="introductionText">
    Древнейшими на территории Бурятии находками первобытных людей являются костные останки со
    стоянки Туяна на правом берегу реки Иркут в Тункинской долине. Протомонгольские племена,
    проживавшие на территории нынешней Бурятии, создали так называемую культуру плиточных могил.
    Гуннское городище. (I в. до н. э. — I в. н. э.) На рубеже нашей эры Прибайкалье составляло
    северную часть государства Хунну — древнего кочевого народа, с 220 года до н. э. по II век н. э.
    населявшего Монгольское плато. Согласно широко распространённому мнению, часть хунну дошла до
    Европы и, смешавшись с уграми, дала начало новому народу, который в Европе известен под
    названием гунны. В 924 году государство монголоязычных киданей — Ляо (907—1125)
    разгромило Кыргызский каганат (840—924). 1206 год — образование Великой Монгольской империи, в
    которую вошли территории вокруг Байкала. Монголия. XVI век В XIII—XVI веках многие
    монголоязычные этнические группы, включая меркитов, баятов, хори-туматов и баргутов откочевали с
    территории современной Бурятии. XIV век — распад Монгольской империи. Прибайкалье и Забайкалье
    до XVII века являлось частью монгольского государства Северная Юань. 
    В начале XVII века из Монголии на север к бурятскому населению Забайкалья проник буддизм, в основном в традиции Гелугпа. 
    В конце XVII — начале XVIII веков он распространился по всему Забайкалью.
    Для охраны государственной границы России с Китаем приказом императора Николая I 17 (30) марта 1851 года 
    было образовано Забайкальское казачье войско. В состав войска вошли три конных полка и три пеших бригады — Верхнеудинские 
    1-й, 2-й, 3-й
     русские полки, 4-й тунгусский (эвенкийский) полк, 5-й и 6-й бурятские полки.
По переписи населения 1897 года в Забайкалье было 180 тысяч бурят, из них к буддийскому вероисповеданию относили 
себя около 160 тысяч человек.<br>
    Больше о истории Бурятии можно узнать
      <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="link">
        тут
      </a>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Внимание!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Данная ссылка ведет на внешний сайт
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary"><a href="https://rae.ru/ru/publishing/mono05_1.html" class="amodule">
          Я все равно хочу продолжить</a></button>
      </div>
    </div>
  </div>
</div>
  {% endblock %}