<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Остров сокровищ</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <header class="bgrTop">
    <h2 class="title">ОСТРОВ СОКРОВИЩ</h2>
  </header> -->
{% extends "__layout.html" %} {% block content %}
<div class="container">
  <div class="imgcultur">
    <img src="/static/image1.jpg" class="image1 culecon" alt="Arshan" />
    <div class="textcultur">Курорт Аршан: Тункинский район, Бурятия</div>
  </div>
  <div class="introductionHeader">Общая информация</div>
  <div class="introductionText">
    Буря́тия, официально Респу́блика Буря́тия (бур. Буряад Улас) — субъект Российской Федерации,
    республика в её составе. Входит в состав Дальневосточного федерального округа и Дальневосточного
    экономического района. Образована 30 мая 1923 года как Бурят-Монгольская Автономная Советская
    Социалистическая Республика. Столица — город Улан-Удэ. Площадь — 351 334 км² (2,05 % территории
    России). Население — 978 588 чел. (2021). Плотность населения — 2,79 чел./км² (2021). Граничит
    на западе, севере и востоке с субъектами РФ — Республикой Тыва, Иркутской областью (с
    пятисоткилометровым участком по акватории Байкала) и Забайкальским краем. Южная граница Бурятии
    с Монголией является государственной границей Российской Федерации. Государственные языки:
    бурятский и русский. Государственную власть в Республике Бурятия осуществляют Глава Республики
    Бурятия, Народный Хурал Республики Бурятия, Правительство Республики Бурятия и суды Республики
    Бурятия.
    На территории Республики Бурятия наряду с федеральными судами, статус, полномочия и порядок деятельности которых определяются 
    Конституцией 
    РФ и федеральными законами, действуют Конституционный Суд Республики Бурятия и мировые судьи в Республике Бурятия. <br />
    На этом сайте вы узнаете больше о <a href="/history" class="link">истории</a> региона, его <a href="culture" class="link" >
      культуре</a> и <a href="people" class="link">народе</a>.
  </div>
  Ы
</div>
<script type="text/javascript" src="script.js"></script>
</body>
<!--<div class="image1"><img src="image1.jpg" alt="treasureisland1" /></div>-->
<!--<img src="/static/image1.jpg" class="image1" alt="image1" />-->

<!--<div class="image2"><img src="image2.jpg" alt="treasureisland2" /></div>-->
{% endblock %}
<!----   </body>
  </html> -->
