{% extends "__layout.html" %} {% block content %}
<div class="container">
  <div class="imgcultur">
    <img src="/static/family.jpg" class="image1 culecon" alt="family" />
    <div class="textcultur">Бурятская семья</div>
  </div>
  <div class="introductionHeader">Народ</div>
  <div class="introductionText">
    Предположительно изначально общим этнонимом для бурят был этноним «баргуты». Поскольку бурят в
    исторических монгольских и ойратских источниках чаще всего называют «баргутами» или реже
    «баргу-бурятами». После раздела этнической территории бурят в пределах Российского государства в
    качестве этнонима бурят используется экзоэтноним «братские люди», а затем и «буряты», а в
    Цинской империи используется только этноним «баргуты». При этом одну и ту же группу бурят,
    которая перемещалась через границу, могли по-разному называть в России («братские») и Цинской
    империи («баргуты»). В качестве самоназвания бурят в России этноним «баргу-бурят» или «баргут»
    часто фиксируется исследователями вплоть до второй половины XVIII в., но уже в XIX веке буряты в
    России уже называют себя только «бурятами». Баргуты в Цинской империи никогда не называли себя
    «бурятами» «Баргуты». Ц. Б. Цыдендамбаев доказывал смысловое тождество этнонимов байырку и
    баргут: «Во всяком случае, встречаются любопытные факты, свидетельствующие о том, что тюрки
    имели обыкновение называть инородные племена путём перевода их самоназваний на тюркский язык.
    Известно, например, что тюрки называли баргутов байыркы. Между тем, выясняется, что тюркское
    слово байыркы означает ‘примитивный; стародавний’» [Юдахин К. К. Киргизско-русский словарь, с.
    99] и, следовательно, вполне идентично монгольскому барга со значением ‘грубый; примитивный;
    стародавний; патриархальный’. Подобную этимологию поддерживает Д. Д. Нимаев. «Буряты».
    Происхождение этнонима «бурят» остаётся во многом спорным и до конца не выясненным. Считается,
    что этноним «бурят» (бурийат) впервые упоминается в «Сокровенном сказании монголов» (1240).<br>
    Больше об народе Бурятии можно узнать
    <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="link">
      тут
    </a>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Внимание!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Данная ссылка ведет на внешний сайт
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary"><a href="https://travelask.ru/articles/buryaty-drevneyshiy-narod-baykala" 
          class="amodule">
          Я все равно хочу продолжить</a></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
